section{
    display: flex;
}
div{
    flex: 1;
    border: 1px solid black;
    font-size: 33px;
    width: 100%;
    height: 100vh;
    display: flex; 
    align-items: center; 
}
    div:nth-child(1){
        background-color:red;
    }
    div:nth-child(2){
        background-color:blue;
    }